@import "partials/reset";
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin respond-at($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}
$bp-xsmall: 600px;
$bp-small: 780px;
$bp-med: 1060px;
$bp-large: 1400px; // colors
$mainText: gold;
// Typography
body {
  font-family: 'Press Start 2P', cursive;
}

$min_width: 600px;
$max_width: 1200px;
$h1_min_font: 20px;
$h1_max_font: 26px;
$h2_min_font: 15px;
$h2_max_font: 20px;
$h3_min_font: 15px;
$h3_max_font: 20px;
$msg_min_font: 60px;
$msg_max_font: 90px;
$name_min_font: 20px;
$name_max_font: 40px;

h1 {
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
}

h2 {
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
}

.rpsText {
  @include fluid-type($min_width, $max_width, $msg_min_font, $msg_max_font);
  color: $mainText;
}

.regularText {
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
  color: $mainText;
  padding: 5px;
}

.roundNumber {}

a {
  text-decoration: none;
  color: inherit;
}

.selectorOption {
  font-family: 'Press Start 2P', cursive;
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
  color: $mainText;
  padding: 5px;
}

.messageText {
  @include fluid-type($min_width, $max_width, $msg_min_font, $msg_max_font);
  filter: drop-shadow( 2px 2px 0 brown );
  // box-shadow: 1px 1px 0 red;
}
// Appearance

.woodBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $mainText;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
}

.enterNameField {
  color: $mainText;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  @include fluid-type($min_width, $max_width, $name_min_font, $name_max_font);
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  width: 50vw;
}

.enterNameButton {
  color: $mainText;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  @include fluid-type($min_width, $max_width, $name_min_font, $name_max_font);
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  padding: 5px;

  &:hover {
    box-shadow: 3px 3px 0 red;
    color: white;
  }

  &:active {
    box-shadow: 3px 3px 0 red;
    color: white;
    background-color: brown;
  }
}

.medLabel {
  color: $mainText;
  @include fluid-type($min_width, $max_width, $h1_min_font, $h1_max_font);
  filter: drop-shadow( 2px 2px 0 brown );
}

.lgLabel {
  color: $mainText;
  @include fluid-type($min_width, $max_width, $name_min_font, $name_max_font);
  filter: drop-shadow( 2px 2px 0 brown );
}

.rulesList {
  @include fluid-type($min_width, $max_width, $h3_min_font, $h3_max_font);
  filter: drop-shadow( 2px 2px 0 brown );
}

.enterRoundsField {
  color: $mainText;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  @include fluid-type($min_width, $max_width, $name_min_font, $name_max_font);
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  width: 10vw;
}

.playingText {
  text-align: center;
  filter: drop-shadow( 2px 2px 0 brown );
}



// Layout
.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/mainBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}

li {
  margin-bottom: 0.5em;
}

.roundTracker {
  position: fixed;
  float: left;
  left: 50%;
  top: -100px;
  padding: 20px 50px;
  transform: translate(-50%,0);
  background-image: url("/assets/roundTrackerBG.jpg");
}

.scoreboard {
  min-width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  // top: 25%;
  background-image: url("/assets/scoreBG.jpg");
}

.player1 {
  float: left;
  left: -400px;
}

.player2 {
  float: right;
  right: -400px;
}

.playingContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 0;
}

.handsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.hand {
  width: 100px;
  height: 100px;
  @include respond-at($bp-small) {
    width: 200px;
    height: 200px;
    }
  @include respond-at($bp-med) {
    width: 250px;
    height: 250px;
    }
  @include respond-at($bp-large) {
    width: 300px;
    height: 300px;
    }
}

.leftHand {
  transform: scaleX(-1);
}

.hand svg {
  width: 100px;
  height: 100px;
  @include respond-at($bp-small) {
    width: 200px;
    height: 200px;
    }
  @include respond-at($bp-med) {
    width: 250px;
    height: 250px;
    }
  @include respond-at($bp-large) {
    width: 300px;
    height: 300px;
    }
}

.st0 {
  fill: none;
  stroke: $mainText;
  stroke-width: 4;
  stroke-miterlimit: 10;
  filter: drop-shadow( 2px 2px 0 brown );
}

.selector {
  position: fixed;
  float: left;
  left: 50%;
  bottom: -300px;
  padding: 20px 50px;
  transform: translate(-50%,0);
  background-image: url("/assets/selectorBG.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectorContainer {
  display: flex;
  justify-content: space-around;
}

.selectorOption {
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  &:hover {
    color: white;
    border: ridge 4px brown;
    box-shadow: 3px 3px 0 orange;
  }
  &:active {
    color: white;
    border: ridge 4px white;
    box-shadow: 3px 3px 0 red;
  }
}

.messageBox {
  position: fixed;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1000;
}

.enterRounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.enterRoundsForm {
  width: 100%;
}

.rulesList {
  margin-bottom: 1em;

  & > ul {
    margin-left: 1em;
  }
}

.introBox {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  line-height: 1.5;
  z-index: 50;
  background-image: url("/assets/introBG.jpg");
  @include respond-at($bp-small) {
    width: 80%;
    margin-top: 10px;
    }
  @include respond-at($bp-med) {
    width: 65%;
    margin-top: 20px;
    }
  @include respond-at($bp-large) {
    width: 50%;
    margin-top: 50px;
    }
}

// utility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fullWidth {
  width: 100%;
}
