html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Press Start 2P', cursive; }

h1 {
  font-size: 20px; }
  @media screen and (min-width: 400px) {
    h1 {
      font-size: calc(20px + 6 * ((100vw - 400px) / 800)); } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 26px; } }

h2 {
  font-size: 20px; }
  @media screen and (min-width: 400px) {
    h2 {
      font-size: calc(20px + 6 * ((100vw - 400px) / 800)); } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 26px; } }

.rpsText {
  color: gold; }
  .rpsText {
    font-size: 30px; }
    @media screen and (min-width: 400px) {
      .rpsText {
        font-size: calc(30px + 60 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .rpsText {
        font-size: 90px; } }

.regularText {
  color: gold;
  padding: 5px; }
  .regularText {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .regularText {
        font-size: calc(20px + 6 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .regularText {
        font-size: 26px; } }

a {
  text-decoration: none;
  color: inherit; }

.selectorOption {
  font-family: 'Press Start 2P', cursive;
  color: gold;
  padding: 5px; }
  .selectorOption {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .selectorOption {
        font-size: calc(20px + 6 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .selectorOption {
        font-size: 26px; } }

.messageText {
  filter: drop-shadow(2px 2px 0 brown); }
  .messageText {
    font-size: 30px; }
    @media screen and (min-width: 400px) {
      .messageText {
        font-size: calc(30px + 60 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .messageText {
        font-size: 90px; } }

.medLabel {
  color: gold;
  filter: drop-shadow(2px 2px 0 brown);
  margin-bottom: 25px; }
  .medLabel {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .medLabel {
        font-size: calc(20px + 6 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .medLabel {
        font-size: 26px; } }

.lgLabel {
  color: brown;
  filter: drop-shadow(2px 2px 0 gold);
  margin-bottom: 25px; }
  .lgLabel {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .lgLabel {
        font-size: calc(20px + 20 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .lgLabel {
        font-size: 40px; } }

.rulesList {
  filter: drop-shadow(2px 2px 0 brown); }
  .rulesList {
    font-size: 15px; }
    @media screen and (min-width: 400px) {
      .rulesList {
        font-size: calc(15px + 5 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .rulesList {
        font-size: 20px; } }

.woodBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: gold;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  padding: 25px; }

.playAgainContainer {
  background-image: url("/assets/roundTrackerBG.jpg"); }

.enterNameField {
  color: gold;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  margin: 15px;
  width: 90vw; }
  .enterNameField {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .enterNameField {
        font-size: calc(20px + 20 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .enterNameField {
        font-size: 40px; } }
  @media only screen and (min-width: 1060px) {
    .enterNameField {
      width: 50vw; } }

.enterNameButton {
  color: gold;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  padding: 5px; }
  .enterNameButton {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .enterNameButton {
        font-size: calc(20px + 20 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .enterNameButton {
        font-size: 40px; } }
  .enterNameButton:hover {
    box-shadow: 3px 3px 0 red;
    color: white; }
  .enterNameButton:active {
    box-shadow: 3px 3px 0 red;
    color: white;
    background-color: brown; }

.enterRoundsField {
  color: gold;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown;
  background-image: url("/assets/roundTrackerBG.jpg");
  font-family: inherit;
  width: 10vw; }
  .enterRoundsField {
    font-size: 20px; }
    @media screen and (min-width: 400px) {
      .enterRoundsField {
        font-size: calc(20px + 20 * ((100vw - 400px) / 800)); } }
    @media screen and (min-width: 1200px) {
      .enterRoundsField {
        font-size: 40px; } }

.playingText {
  text-align: center;
  filter: drop-shadow(2px 2px 0 brown); }

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/mainBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed; }

li {
  margin-bottom: 0.5em; }

.roundTracker {
  position: fixed;
  float: left;
  left: 50%;
  top: -100px;
  padding: 20px 50px;
  transform: translate(-50%, 0);
  background-image: url("/assets/roundTrackerBG.jpg"); }

.scoreboard {
  min-width: 50%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background-image: url("/assets/scoreBG.jpg"); }
  @media only screen and (min-width: 780px) {
    .scoreboard {
      min-width: 200px;
      height: 300px; } }

.player1 {
  float: left;
  left: -400px; }

.player2 {
  float: right;
  right: -400px; }

.playingContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  -ms-flex-direction: column;
      flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  z-index: 0; }

.handsContainer {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.hand {
  width: 100px;
  height: 100px; }
  @media only screen and (min-width: 780px) {
    .hand {
      width: 200px;
      height: 200px; } }
  @media only screen and (min-width: 1060px) {
    .hand {
      width: 250px;
      height: 250px; } }
  @media only screen and (min-width: 1400px) {
    .hand {
      width: 300px;
      height: 300px; } }

.leftHand {
  transform: scaleX(-1); }

.hand svg {
  width: 100px;
  height: 100px; }
  @media only screen and (min-width: 780px) {
    .hand svg {
      width: 200px;
      height: 200px; } }
  @media only screen and (min-width: 1060px) {
    .hand svg {
      width: 250px;
      height: 250px; } }
  @media only screen and (min-width: 1400px) {
    .hand svg {
      width: 300px;
      height: 300px; } }

.st0 {
  fill: none;
  stroke: gold;
  stroke-width: 4;
  stroke-miterlimit: 10;
  filter: drop-shadow(2px 2px 0 brown); }

.selector {
  position: fixed;
  float: left;
  left: 50%;
  bottom: -300px;
  padding: 20px 50px;
  transform: translate(-50%, 0);
  background-image: url("/assets/selectorBG.jpg");
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.selectorContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.selectorOption {
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 10px;
  padding: 10px;
  border: ridge 4px orange;
  box-shadow: 3px 3px 0 brown; }
  .selectorOption:hover {
    color: white;
    border: ridge 4px brown;
    box-shadow: 3px 3px 0 orange; }
  .selectorOption:active {
    color: white;
    border: ridge 4px white;
    box-shadow: 3px 3px 0 red; }

.messageBox {
  position: fixed;
  top: 40%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  z-index: 1000; }

.enterRounds {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.enterRoundsForm {
  width: 100%; }

.rulesList {
  margin-bottom: 1em; }
  .rulesList > ul {
    margin-left: 1em; }

.introBox {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  line-height: 1.5;
  background-image: url("/assets/introBG.jpg"); }
  @media only screen and (min-width: 780px) {
    .introBox {
      width: 80%;
      margin-top: 10px; } }
  @media only screen and (min-width: 1060px) {
    .introBox {
      width: 65%;
      margin-top: 20px; } }
  @media only screen and (min-width: 1400px) {
    .introBox {
      width: 50%;
      margin-top: 50px; } }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.fullWidth {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
